aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.5
frozenlist==1.7.0
idna==3.10
lxml==6.0.1
multidict==6.6.4
numpy==2.0.2
pandas==2.3.2
propcache==0.3.2
py-cord==2.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
tzdata==2025.2
yarl==1.20.1